#map,#map2,#map3{
	height: 100%; 
}
.asiento_disponible{
	color: #26a69a;
	cursor: pointer;
}
.asiento_ocupado{
	color: #ef6241;	
}
.asiento_seleccionado{
	color: #ff9800;
}
.persona_asiento{
	border-radius: 12px;
	margin: 5px;
	border: 1px solid #999999;
}
.selec_hotel{
	cursor: pointer;
}
.selec_actividad{
	cursor: pointer;
}
.seleccionar_vuelo{
	cursor: pointer;
}